    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: linear-gradient(129deg, rgba(20, 101, 38, 1) 8%, rgba(7, 51, 6, 1) 62%);
        position: relative;
        color: #efefef;
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 8px;
        align-items: center;
        border: 1px solid #efefef;
        border-radius: 8px;
        padding: 8px 32px;
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    canvas {
        box-sizing: border-box;
        border: 4px solid #cfcfcf;
        background-color: #fff;
    }

    button {
        padding: 16px 64px;
        font-size: 16px;
        border: none;
        border-radius: 6px;
        background-color: #cfcfcf;
        color: #000;
        border: 1px solid #000;
        cursor: pointer;
    }

    button:hover {
        box-shadow: 2px 2px 4px 0 #000;
    }

    .counter {
        position: absolute;
        margin: auto;
        top: 150px;
        z-index: 1;
        width: 150px;
        border-radius: 24px;
        aspect-ratio: 1/1;
        border: 4px solid #333;
        font-size: x-large;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(20px);
    }

    select {
        padding: 4px 16px;
        border-radius: 4px;
    }


    .score {
        display: flex;
        align-items: center;
    }

    .score__number {
        font-size: larger;
    }